:root {
  --dark-gray: #181818;
  --med-gray: #5c5c5c;
  --light-gray: #cacaca;
  --sp-green: #1db954;
  --sp-green-dark: #076528;
}

body {
  color: white;
  font-family: 'Open Sans', sans-serif;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: -moz-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(24,24,24,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(24,24,24,1) 100%);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(24,24,24,1) 100%);
  background-repeat: no-repeat;
  background-color: black;
}

.layout-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

/* Header */

.header-container {
  margin: 0 calc(50px + 6vw);
  z-index: 1;
}

#margin-fix {
  margin-left: -10px;
}

h1 {
  display: inline;
  font-size: 120px;
  font-weight: 700;
  line-height: 115px;
}

small {
  display: inline-block;
  color: var(--light-gray);
  transform: translateY(-20px);
  font-size: 50px;
  font-weight: 300;
}

mark {
  margin-left: 10px;
  background-color: rgba(0,0,0,0);
  color: var(--sp-green);
  letter-spacing: -4px;
}

.disclaimer {
  margin-top: 40px;
  display: inline-block;
  font-style: italic;
  font-weight: 300;
  letter-spacing: .75px;
}

/* Logos & Links */

#sp-logo {
  margin-left: 6px;
  transform: translateY(10px);
}

.icon-layout {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin-top: 40px;
}

.icon-container {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background-color: rgba(0,0,0,0);
  margin-right: 15px;
  transition: background-color ease-out 0.15s;
  cursor: pointer;
}

.icon {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45px;
}

.icon-container:hover {
  background-color: var(--dark-gray);
}

/* Wave */

#wave-container {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 53vw;
  overflow: hidden;
}

#wave {
  position: absolute;
  top: 0;
  left: 0;
  fill: black;
  height: 200%;
  z-index: -1;
  animation: wave-vertical linear 3s infinite;
}

@keyframes wave-vertical {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

/* Choose & Upload Files */

#file-page {
  margin-left: calc(50vw - 620px);
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

#data-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin: 8px;
}

/* Choose File Button */

input[type="file"] {
  display: none;
}

.choose-button {
  display: block;
  padding: 10px 15px;
  border-radius: 7px;
  font-weight: 400;
  font-size: 11pt;
  letter-spacing: 1px;
  transition: background-color ease-out .15s, letter-spacing ease-out .2s;
  cursor: pointer;
}

.choose-button:hover {
  background-color: var(--dark-gray);
  letter-spacing: 1.5px;
}

#file-selected {
  color: var(--med-gray);
  font-weight: 300;
}

/* Upload Button */

input[type="submit"] {
  display: none;
}

.upload-button {
  display: block;
  border-radius: 41px;
  background-color: var(--sp-green);
  padding: 17px 67px;
  text-align: center;
  transition: background-color ease-out .15s;
  cursor: pointer;
}

.upload-button > span {
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  transition: cubic-bezier(.54,1.5,.71,1.07) .2s;
}

.upload-button:hover {
  background-color: var(--sp-green-dark);
}

.upload-button:hover >span {
  letter-spacing: 3px;
}

.faq {
  color: var(--light-gray);
  text-decoration: underline;
  font-size: 16px;
  font-weight: 300;
  margin: 10px;
  cursor: pointer;
}

.faq:hover {
  color: var(--sp-green);
}

@media only screen and (max-width: 1200px) {
  .layout-container {
    justify-content: center;
  }

  .header-container {
    margin-top: 60px;
  }

  .icon-layout {
    justify-content: center;
  }

  #file-page {
    margin: 0;
  }

}
