:root {
  --dark-gray: #181818;
  --med-gray: #5c5c5c;
  --light-gray: #cacaca;
  --sp-green: #1db954;
  --sp-green-dark: #076528;
}

body {
  color: white;
  font-family: 'Open Sans', sans-serif;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: -moz-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(24,24,24,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(24,24,24,1) 100%);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(24,24,24,1) 100%);
  background-repeat: no-repeat;
  background-color: black;
}

.layout-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

/* Header */

.header-container {
  margin: 0 calc(50px + 6vw);
  z-index: 1;
}

#first-line {
  margin-left: -10px;
}

h1 {
  display: inline;
  font-size: 120px;
  font-weight: 700;
  line-height: 115px;
}

small {
  display: inline-block;
  color: var(--light-gray);
  transform: translateY(-20px);
  font-size: 50px;
  font-weight: 300;
}

mark {
  margin-left: 10px;
  background-color: rgba(0,0,0,0);
  color: var(--sp-green);
  letter-spacing: -4px;
}

.disclaimer {
  margin-top: 40px;
  display: inline-block;
  font-style: italic;
  font-weight: 300;
  letter-spacing: .75px;
}

.disclaimer-container {
  margin: 0 10px;
}

/* Logos & Links */

#sp-logo {
  margin-left: 6px;
  transform: translateY(10px);
}

.icon-layout {
  display: flex;
  flex-flow: row wrap;
  width: auto;
  margin-top: 40px;
}

#centered-icons {
  display: none;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background-color: rgba(0,0,0,0);
  margin-right: 15px;
  transition: background-color ease-out 0.15s;
  cursor: pointer;
}

.icon {
  position: relative;
  width: 45px;
  height: 45px;
}

.icon-container:hover {
  background-color: var(--dark-gray);
}

/* Wave */

#wave-container {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 53vw;
  overflow: hidden;
}

#wave {
  position: absolute;
  top: 0;
  left: 0;
  fill: black;
  height: 200%;
  z-index: -1;
  animation: wave-vertical linear 3s infinite;
}

@keyframes wave-vertical {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

/* Choose & Upload Files */

#file-page {
  margin-left: calc(50vw - 620px);
  margin-right: 50px;
  display: flex;
  width: 350px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

#data-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin: 8px;
}

/* Choose File Button */

input[type="file"] {
  display: none;
}

.choose-button {
  display: block;
  background-color: var(--dark-gray);
  padding: 10px 15px;
  border-radius: 7px;
  font-weight: 400;
  font-size: 11pt;
  letter-spacing: 1px;
  transition: letter-spacing ease-out .1s, filter ease-out .15s;
  cursor: pointer;
}

.choose-button:hover {
  filter: brightness(1.5);
  letter-spacing: 1.5px;
}

#file-selected {
  color: var(--med-gray);
  font-weight: 300;
}

/* Upload Button */

input[type="submit"] {
  display: none;
}

.upload-button {
  display: block;
  border-radius: 41px;
  background-color: var(--sp-green);
  padding: 17px 67px;
  text-align: center;
  transition: background-color ease-out .15s;
  cursor: pointer;
}

.upload-button > span {
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  transition: cubic-bezier(.54,1.5,.71,1.07) .2s;
}

.upload-button:hover {
  background-color: var(--sp-green-dark);
}

.upload-button:hover >span {
  letter-spacing: 3px;
}

.faq {
  color: var(--light-gray);
  text-decoration: underline;
  font-size: 16px;
  font-weight: 300;
  margin: 10px;
  cursor: pointer;
}

.faq:hover {
  color: var(--sp-green);
}

/* Portrait Screens */

@media only screen and (max-width: 1300px) {

  .layout-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header-container {
    text-align: center;
    margin: 10px 0 0 0;
  }

  .icon-layout {
    position: static;
    margin: 0;
    justify-content: center;
  }

  #under-header-icons {
    display: none;
  }

  #centered-icons {
    display: flex;
  }

  #file-page {
    margin: 2vh 0 0 0;
  }

}

@media only screen and (max-width: 700px) and (orientation: portrait) {
  h1 {
    font-size: calc(50px + 3vw);
    line-height: calc(45px + 3vw);
  }

  small {
    font-size: 30px;
    transform: translateY(-.25em);
  }

  mark {
    margin-left: calc(2px + .25vw);
    letter-spacing: -2px;
  }

  .disclaimer {
    font-size: 13px;
    margin-top: 30px;
    letter-spacing: .75px;
  }

  #first-line {
    font-size: calc(70px + 3vw);
    line-height: calc(70px + 3vw);
  }

  .choose-button {
    letter-spacing: .5px;
    font-size: 14px;
  }

  .upload-button {
    padding: 12px 33px;
  }

  .upload-button > span {
    letter-spacing: 1.5px;
    font-size: 15px;
  }

  .upload-button:hover >span {
    letter-spacing: 2px;
  }

  .faq {
    font-size: 14px;
    margin: 10px;
  }

  .icon-container {
    width: 50px;
    height: 50px;
    margin: 10px;
  }

  .icon {
    width: 40px;
    height: 40px;
  }

}

@media only screen and (orientation: landscape) and (max-height: 600px) {

  body {
    height: 600px;
  }

  #wave-container {
    height: 600px;
  }

  .header-container {
    text-align: center;
    height: auto;
    margin: 0 0 10px 0;
  }

  .layout-container {
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    height: 600px;
  }

  h1 {
    font-size: 70px;
    line-height: 65px;
  }

  small {
    transform: translateY(-15px);
    font-size: 35px;
  }

  mark {
    margin-left: 5px;
    letter-spacing: -4px;
  }

  .disclaimer {
    margin-top: 25px;
    font-size: 10pt;
    letter-spacing: .75px;
  }

  .choose-button {
    letter-spacing: .5px;
    font-size: 13px;
  }

  .upload-button {
    padding: 12px 50px;
  }

  .upload-button > span {
    letter-spacing: 1.5px;
    font-size: 15px;
  }

  .upload-button:hover >span {
    letter-spacing: 2px;
  }

  .faq {
    font-size: 14px;
    margin: 10px;
  }

  .icon-container {
    width: 50px;
    height: 50px;
    margin: 10px;
  }

  .icon {
    width: 40px;
    height: 40px;
  }
}
