:root {
  --dark-gray: #181818;
  --med-gray: #5c5c5c;
  --light-gray: #cacaca;
  --sp-green: #1db954;
}

body {
  background-color: var(--dark-gray);
  color: white;
  font-family: 'Open Sans', sans-serif;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: -moz-linear-gradient(0deg, rgba(0,0,0,1) 30%, rgba(24,24,24,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(0,0,0,1) 30%, rgba(24,24,24,1) 100%);
  background: linear-gradient(0deg, rgba(0,0,0,1) 30%, rgba(24,24,24,1) 100%);
}

/* Header */

.header-container {
  position: absolute;
  top: 50%;
  left: calc(50px + 6vw);
  transform: translateY(-50%);
}

#margin-fix {
  margin-left: -10px;
}

h1 {
  display: inline;
  font-size: 120px;
  font-weight: 700;
  line-height: 115px;
}

small {
  display: inline-block;
  color: var(--light-gray);
  transform: translateY(-20px);
  font-size: 50px;
  font-weight: 300;
}

mark {
  margin-left: 10px;
  background-color: rgba(0,0,0,0);
  color: var(--sp-green);
  letter-spacing: -4px;
}

.disclaimer {
  margin-top: 40px;
  display: inline-block;
  font-style: italic;
  font-weight: 300;
  letter-spacing: .75px;
}

/* Logos & Links */

#sp-logo {
  margin-left: 6px;
  transform: translateY(10px);
}

.icon-layout {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin-top: 40px;
}

.icon-container {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background-color: black;
  margin-right: 15px;
}

.icon {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45px;
}


/* Choose & Uploading */

#file-page {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50vw;
  height: 100vh;
  background-color: black;
}

#data-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin: 10px;
}

/* Choose File Button */

input[type="file"] {
  display: none;
}

.choose-button {
  display: block;
  font-weight: 400;
  font-size: 11pt;
  letter-spacing: 1px;
}

#file-selected {
  color: var(--med-gray);
  font-weight: 300;
}

/* Upload Button */

input[type="submit"] {
  display: none;
}

.upload-button {
  display: block;
  border-radius: 41px;
  background: var(--sp-green);
  padding: 17px 67px;
  text-align: center;
}

.upload-button > span {
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
}

.faq {
  color: var(--light-gray);
  text-decoration: underline;
  font-size: 16px;
  font-weight: 300;
  margin: 10px;
}
