:root {
  --interact-gray: #1d1d1d;
  --dark-gray: #181818;
  --med-gray-2: #363636;
  --med-gray: #5c5c5c;
  --light-gray: #cacaca;
  --sp-green: #1db954;
  --artwork: #000000;
}

body {
  background-color: black;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 37pt;
  font-weight: 700;
  margin: 0;
}

h2 {
  font-size: 18pt;
  font-weight: 400;
  margin: 0;
}

h3 {
  font-size: 25pt;
  font-weight: 600;
  margin: 0 auto 0 0;
}

small {
  font-size: 20pt;
  font-weight: 300;
  color: var(--light-gray);
}

mark {
  background-color: rgba(0,0,0,0);
  color: var(--sp-green);
  font-weight: 700;
}

.overview-caption {
  text-align: center;
  font-size: 22pt;
  font-weight: 600;
  margin-bottom: 40px;
}

#layout-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 90vw;
  height: 90vh;
}

.card {
  border-radius: 15px;
  background-color: var(--dark-gray);
  margin: 15px;
}

#overview {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 30px 52px;
  width: 600px;
  height: 800px;
  box-sizing: border-box;
  background: linear-gradient(0deg, rgb(0,0,0) 0%, rgb(24,24,24) 70%);
  background: -moz-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(24,24,24) 70%);
  background: -webkit-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(24,24,24) 70%);
}

#overview > h1 {
  text-align: right;
  align-self: flex-end;
  margin-bottom: 30px;
}

#overview > small {
  text-align: right;
  align-self: flex-end;
  margin-bottom: 5px;
}

#user-icon {
  background-color: black;
  width: 225px;
  height: 225px;
  clip-path: circle(50%);
  margin-bottom: 30px;
}

#popularity {
  width: 1000px;
  height: 500px;
  padding: 35px 32px;
}

ol {
  list-style: none;
  counter-reset: popularity-counter;
  padding: 0px 10px;
}

ol li {
  counter-increment: popularity-counter;
}

ol li::before {
  position: relative;
  top: -25px;
  content: "#" counter(popularity-counter);
  color: white;
  font-weight: 300;
  font-size: 23px;
}

.popular-item {
  display: inline-flex;
  flex-flow: row nowrap;
  width: 80%;
  margin: 15px 15px 0;
}

.popular-icon {
  width: 64px;
  height: 64px;
  border-radius: 0px;
  background-color: var(--artwork);
}

.popular-description {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  box-sizing: border-box;
  height: 64px;
  margin-left: 10px;
  padding: 2px 4px;
}

.popular-description > span {
  margin: 0;
}

.song-title {
  font-size: 25px;
  font-weight: 500;
  color: white;
}

.song-artist {
  font-size: 20px;
  font-weight: 300;
  color: var(--light-gray);
}

.artist {
  display: none;
  font-size: 25px;
  font-weight: 500;
  color: white;
}

.artist-img {
  display: none;
}

#heart {
  width: 30px;
  fill: var(--sp-green);
  margin-right: 20px;
}

.header-container {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  align-items: center;
}

.select-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 17px;
  background-color: var(--interact-gray);
  margin: 0 8px;
  transition: background-color ease-out .2s;
  cursor: pointer;
}

.select-button > svg {
  width: 30px;
  fill: var(--med-gray);
  transition: fill ease-out .2s;
}

.select-button:hover {
  background-color: var(--med-gray-2);
}

.select-button:hover > svg {
  fill: var(--sp-green);
}

.active-button {
  background-color: var(--med-gray-2);
}

.active-button > svg {
  fill: var(--sp-green);
}

#song-select > svg {
  transform: translateX(-2px);
}

.top-list li:nth-of-type(1n + 6) {
  display: none;
}

.listen-freq {
  display: block;
  align-self: center;
  font-size: 18pt;
  font-weight: 300;
  margin: 0 20px 0 auto;
}
