:root {
  --interact-gray: #1d1d1d;
  --dark-gray: #181818;
  --med-gray-2: #363636;
  --med-gray: #5c5c5c;
  --light-gray: #cacaca;
  --sp-green: #1db954;
  --artwork: #000000;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb {
  background: var(--interact-gray);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--med-gray-2);
}

body {
  background-color: black;
  color: white;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  width: 100vw;
  margin: 0;
}

h1 {
  font-size: 37pt;
  font-weight: 700;
  margin: 0;
}

h2 {
  font-size: 18pt;
  font-weight: 400;
  margin: 0;
}

h3 {
  font-size: 25pt;
  font-weight: 600;
  margin: 0 auto 0 0;
}

small {
  font-size: 20pt;
  font-weight: 300;
  color: var(--light-gray);
}

mark {
  background-color: rgba(0,0,0,0);
  color: var(--sp-green);
  font-weight: 700;
}

.overview-caption {
  text-align: center;
  font-size: 22pt;
  font-weight: 600;
  margin-bottom: 40px;
}

#layout-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 90vw;
}

.card {
  border-radius: 15px;
  background-color: var(--dark-gray);
  margin: 15px;
}

#overview {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 30px 52px;
  width: 600px;
  height: auto;
  box-sizing: border-box;
  background: linear-gradient(0deg, rgb(0,0,0) 0%, rgb(24,24,24) 70%);
  background: -moz-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(24,24,24) 70%);
  background: -webkit-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(24,24,24) 70%);
}

#overview > h1 {
  text-align: right;
  align-self: flex-end;
  margin-bottom: 30px;
}

#overview > small {
  text-align: right;
  align-self: flex-end;
  margin-bottom: 5px;
}

#user-icon {
  background-color: black;
  width: 225px;
  height: 225px;
  clip-path: circle(50%);
  margin-bottom: 30px;
}

#no-icon {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  fill: var(--light-gray);
}

#popularity {
  width: 1000px;
  height: 100%;
  padding: 35px 32px;
}

ol {
  list-style: none;
  counter-reset: popularity-counter;
  padding: 0px 10px;
  margin: 5px 0;
}

ol li {
  counter-increment: popularity-counter;
  margin-left: 20px;
}

ol li::before {
  display: inline-block;
  width: 20px;
  text-align: right;
  position: relative;
  top: -25px;
  content: "#" counter(popularity-counter);
  color: white;
  font-weight: 300;
  font-size: 23px;
}

.popular-item {
  display: inline-flex;
  flex-flow: row nowrap;
  width: 90%;
  margin: 15px 15px 0;
}

.popular-icon {
  display: block;
  width: 64px;
  height: 64px;
  min-width: 64px;
  overflow-y: hidden;
  border-radius: 0px;
  background-color: var(--artwork);
}

.popular-icon > img {
  display: block;
  position: relative;
  width: 64px;
  top: 50%;
  transform: translateY(-50%);
}

.popular-description {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  box-sizing: border-box;
  height: 64px;
  margin-left: 10px;
  padding: 2px 4px;
}

.popular-description > span {
  margin: 0;
}

.song-title {
  font-size: 25px;
  font-weight: 500;
  color: white;
}

.song-artist {
  font-size: 20px;
  font-weight: 300;
  color: var(--light-gray);
}

.artist {
  display: none;
  font-size: 25px;
  font-weight: 500;
  color: white;
}

.artist-img {
  display: none;
}

#heart {
  width: 30px;
  fill: var(--sp-green);
  margin: 0 20px;
}

.header-container {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  align-items: center;
}

.button-container {
  display: flex;
  flex-flow: row nowrap;
  margin-left: 40px;
}

.select-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 17px;
  background-color: var(--interact-gray);
  margin: 0 8px;
  transition: background-color ease-out .2s;
  cursor: pointer;
}

.select-button > svg {
  width: 30px;
  fill: var(--med-gray);
  transition: fill ease-out .2s;
}

.select-button:hover {
  background-color: var(--med-gray-2);
}

.select-button:hover > svg {
  fill: var(--sp-green);
}

.active-button {
  background-color: var(--med-gray-2);
}

.active-button > svg {
  fill: var(--sp-green);
}

#song-select > svg {
  transform: translateX(-2px);
}

.listen-freq {
  display: block;
  align-self: center;
  font-size: 18pt;
  font-weight: 300;
  margin: 0 5px 0 auto;
  white-space: nowrap;
}

.artist-count {
  display: none;
}

#chart-container {
  margin-top: 20px;
  padding: 15px;
  width: 95%;
  background-color: black;
  border-radius: 15px;
  box-sizing: border-box;
}

#myChart {
  width: 420px;
  height: 200px;
}

@media only screen and (max-width: 1000px) {
  body {
    overflow-x: hidden;
  }

  .clip-container {
    width: 100%;
    overflow-x: hidden;
    height: 30px;
    text-overflow: ellipsis;
  }

  #layout-container {
    position: absolute;
    top: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100vw;
    height: auto;
  }

  .card {
    margin: 0;
    border-radius: 0px;
  }

  #overview {
    padding: 30px 10px;
    width: 100vw;
    box-sizing: border-box;
    background: linear-gradient(0deg, rgb(0,0,0) 30%, rgb(24,24,24) 80%);
    background: -moz-linear-gradient( 90deg, rgb(0,0,0) 30%, rgb(24,24,24) 80%);
    background: -webkit-linear-gradient( 90deg, rgb(0,0,0) 30%, rgb(24,24,24) 80%);
  }

  #myChart {
    width: 100%;
    height: auto;
  }

  h1 {
    font-size: 27pt;
  }

  #overview > h1 {
    text-align: center;
    align-self: center;
  }

  h2 {
    font-size: 13pt;
  }

  h3 {
    font-size: 20pt;
    margin-bottom: 10px;
  }

  #heart {
    width: 30px;
    margin-bottom: 10px;
  }

  .select-button {
    background-color: var(--dark-gray);
  }

  .select-button:first-of-type {
    margin-left: auto;
  }

  small {
    margin-left: auto;
    margin-right: auto;
  }

  .overview-caption {
    font-size: 17pt;
    margin-bottom: 30px;
  }

  #popularity {
    background-color: black;
    padding: 0 20px;
    margin: 20px 0;
    box-sizing: border-box;
  }

  .popular-description {
    width: 100%;
  }

  ol {
    padding: 0px 15px;
    margin: 2px 0;
  }

  ol li::before {
    font-size: 18px;
  }

  .song-title {
    font-size: 19px;
  }

  .song-artist {
    font-size: 15px;
    color: var(--light-gray);
  }

  .artist {
    font-size: 19px;
  }

  .listen-freq {
    font-size: 12pt;
    padding-left: 5px;
  }

  .scroll-left {
    height: 25px;
  }

}

@media only screen and (max-width: 630px) {
  .popular-item {
    width: 80%;
  }
}

@media only screen and (max-width: 550px) {
  .header-container {
    justify-content: center;
  }

  h3 {
    margin: 0 auto 10px auto;
  }

  #heart {
    display: none;
  }

  .button-container {
    margin: 0;
  }

}
