:root {
  --interact-gray: #1d1d1d;
  --dark-gray: #181818;
  --med-gray-2: #363636;
  --med-gray: #5c5c5c;
  --light-gray: #cacaca;
  --light-gray-2: #a8a8a8;
  --sp-green: #1db954;
  --artwork: #000000;
  --card-bg: rgba(20,20,20,1);
  --transition-time: 1s;
}

/* Webkit Scrollbar Styling ----------------------------------------------*/

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb {
  background: var(--interact-gray);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--med-gray-2);
}

/* Transitions ----------------------------------------------*/

@keyframes slide-from-right {
  from {
    opacity: 0;
    transform: translateX(50%);
  } 
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-from-left {
  from {
    opacity: 0;
    transform: translateX(-50%);
  } 
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-from-top {
  from {
    opacity: 0;
    transform: translateY(-50%);
  } 
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-from-bottom {
  from {
    opacity: 0;
    transform: translateY(50%);
  } 
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  } 
  to {
    opacity: 1;
  }
}

/* General Styling ---------------------------------------------- */

body {
  background-color: black;
  color: white;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#layout-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}

.card {
  background-color: black;
  margin: 0 15px;
}

.noselect {
  -webkit-touch-callout: none; 
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
}

/* Overview Card Styling ----------------------------------------------*/

h1 {
  font-size: 32pt;
  font-weight: 700;
  margin: 0;
}

h2 {
  font-size: 18pt;
  font-weight: 400;
  margin: 0;
}

small {
  font-size: 18pt;
  font-weight: 300;
  color: var(--light-gray);
}

mark {
  background-color: rgba(0,0,0,0);
  color: var(--sp-green);
  font-weight: 700;
}

.overview-caption {
  text-align: center;
  font-size: 22pt;
  font-weight: 600;
  margin-bottom: 40px;
}

#overview {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 30px 52px;
  width: 600px;
  height: auto;
  box-sizing: border-box;
  background: linear-gradient(0deg, rgb(0,0,0) 0%, rgb(24,24,24) 70%);
  background: -moz-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(24,24,24) 70%);
  background: -webkit-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(24,24,24) 70%);
  animation: slide-from-top var(--transition-time) ease;
}

#overview > h1 {
  text-align: center;
  margin: 10px 0 30px 0;
}

#overview > small {
  text-align: right;
  align-self: flex-end;
  margin-bottom: 5px;
}

/* User Icon */

#user-icon {
  background-color: black;
  width: 225px;
  height: 225px;
  clip-path: circle(50%);
  margin-bottom: 30px;
}

#no-icon {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  fill: var(--light-gray);
}

/* Chart Styling */

#overviewChart {
  width: 420px;
  height: 200px;
}

#chart-container {
  margin-top: 20px;
  padding: 15px;
  width: 95%;
  background-color: black;
  border-radius: 15px;
  box-sizing: border-box;
}

.active-time {
  color: var(--sp-green);
  font-size: 17px;
  font-weight: 700;
}

.active-time:hover {
  color: var(--sp-green) !important;
}

.time-selector {
  color: var(--med-gray);
  font-size: 15px;
  font-weight: 300;
}

.time-selector span {
  cursor: pointer;
  transition: color ease-out .15s;
}

.time-selector-overview {
  align-self: flex-end;
  margin: 10px 50px 0 0;
}

.time-selector span:first-child {
  padding-right: 5px;
  border-right: 1px solid var(--med-gray-2);
}

.time-selector span:last-child {
  padding-left: 5px;
  border-left: 1px solid var(--med-gray-2);
}

.time-selector span:hover {
  color: white;
}

/* Favorite Songs & Artists ---------------------------------------------- */

#popularity {
  width: 1000px;
  height: 100%;
  padding: 35px 32px;
  animation: slide-from-bottom var(--transition-time) ease;
}

/* Header */

.header-container {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  align-items: center;
}

h3 {
  font-size: 25pt;
  font-weight: 600;
  margin: 0 auto 0 0;
}

#heart {
  width: 30px;
  fill: var(--sp-green);
  margin: 0 20px;
  animation: heartbeat 2s ease-in-out infinite;
}

@keyframes heartbeat {
  0% {
    transform: scale(.9);
  } 
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(.9);
  }
}

/* Song & Artist Buttons */

.button-container {
  display: flex;
  flex-flow: row nowrap;
  gap: 15px;
}

.select-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 17px;
  background-color: var(--dark-gray);
  transform: scale(.9);
  transition: background-color ease-out .2s, transform cubic-bezier(.17,.67,.82,1.9) .09s;
  cursor: pointer;
}

.select-button > svg {
  width: 30px;
  fill: var(--med-gray);
  transition: fill ease-out .2s;
}

.select-button:hover > svg {
  fill: var(--sp-green);
}

.active-button {
  transform: scale(1);
  background-color: var(--med-gray-2);
}

.active-button > svg {
  fill: var(--sp-green);
}

#song-select > svg {
  transform: translateX(-2px);
}

/* Song & Artist List */

.top-list {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  margin: 20px 0 5px;
}

.top-item {
  padding: 6px 15px;
  border-radius: 10px;
  transition: all ease-out .1s;
  cursor: pointer;
}

.top-item:hover {
  background-color: var(--dark-gray);
}

.popular-item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 7px;
  flex-grow: 1;
}

/* List Numbers */

.bullet {
  font-size: 14px;
}

.list-count {
  flex-shrink: 0;
  text-align: center;
  font-weight: 300;
  font-size: 17px;
}

/* Track Icons */

.popular-icon {
  width: 64px;
  height: 64px;
  min-width: 64px;
  overflow-y: hidden;
  background-color: var(--artwork);
}

.popular-icon > img {
  display: block;
  position: relative;
  width: 64px;
  top: 50%;
  transform: translateY(-50%);
}

/* Track Descriptors */

/* .artist & .song used for JS selection */

.artist {
  display: none;
}

.popular-description {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.song-title {
  font-size: 25px;
  font-weight: 500;
}

.song-artist {
  font-size: 20px;
  font-weight: 300;
  color: var(--light-gray);
}

.artist-full {
  font-size: 25px;
  font-weight: 500;
}

.listen-freq {
  font-size: 15pt;
  font-weight: 300;
  margin: 0 5px 0 auto;
  white-space: nowrap;
}

/* Expanded Track Information */

.popular-expanded {
  display: none;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px 20px;
  margin-top: 20px;
  padding: 0 20px 30px;
}

.expanded {
  background-color: var(--dark-gray);
  transition: background-color .1s eae-out;
}

.expanded:hover {
  background-color: var(--interact-gray);
}

.close-expand {

}

/* Track Descriptions */

.info-label {
  color: var(--light-gray-2);
  font-size: 14px;
  font-weight: 300;
}

.info-description {
  font-weight: 300;
  font-size: 16px;
}

.album-link {
  text-decoration: none;
  color: var(--white);
  border-bottom: 1px solid white;
  transition: color .1s ease-out, border-bottom .1s ease-out;
}

.album-link:hover {
  color: var(--sp-green);
  border-bottom: 1px solid var(--sp-green);
}

/* Song & Arist Charts */

.track-chart-outer {
  width: 100%;
  height: 100%;
  grid-column: 1/-1;
}

.track-chart-container {
  position: relative;
  height: 200px;
  padding: 20px;
  border-radius: 20px;
  box-sizing: border-box;
  background-color: black;
}

.time-selector-track {
  margin: 10px;
}

/* Artist Top Tracks */

.genre {
  grid-column: 1/-1;
}

.artist-top-track {
  grid-column: 1/-1;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 15px;
}

.artist-top-track .popular-description {
  width: auto;
}

@media only screen and (max-width: 1730px) {
  #layout-container {
    flex-flow: column nowrap;
    align-items: center;
  }

  #overview {
    width: 100%;
    box-sizing: border-box;
  }

  small {
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 1000px) {
  #layout-container {
    flex-flow: row wrap;
  }

  .clip-container {
    width: 100%;
    overflow-x: hidden;
    height: 30px;
    text-overflow: ellipsis;
  }

  .card {
    margin: 0;
    border-radius: 0px;
  }

  #overview {
    padding: 30px 10px;
    background: linear-gradient(0deg, rgb(0,0,0) 30%, rgb(24,24,24) 80%);
    background: -moz-linear-gradient( 90deg, rgb(0,0,0) 30%, rgb(24,24,24) 80%);
    background: -webkit-linear-gradient( 90deg, rgb(0,0,0) 30%, rgb(24,24,24) 80%);
  }

  #overviewChart {
    width: 100%;
    height: auto;
  }

  h1 {
    font-size: 27pt;
  }

  h2 {
    font-size: 13pt;
  }

  h3 {
    font-size: 20pt;
    margin-bottom: 10px;
  }

  #heart {
    width: 30px;
    margin-bottom: 10px;
  }

  .select-button:first-of-type {
    margin-left: auto;
  }

  .overview-caption {
    font-size: 17pt;
    margin-bottom: 30px;
  }

  #popularity {
    padding: 0 20px;
    margin: 20px 0;
    box-sizing: border-box;
  }

  .popular-description {
    width: 100%;
  }

  ol {
    padding: 0px 15px;
    margin: 2px 0;
  }

  ol li::before {
    box-sizing: border-box;
    width: 30px;
    font-size: 18px;
  }

  .song-title {
    font-size: 19px;
  }

  .song-artist {
    font-size: 15px;
    color: var(--light-gray);
  }

  .artist-full {
    font-size: 19px;
  }

  .listen-freq {
    font-size: 12pt;
    padding-left: 5px;
  }

}

@media only screen and (max-width: 740px) {

  .clip-container {
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .overview-caption {
    margin: 0 10px 40px;
  }

  .track-chart-outer {
    width: 100%;
  }
}

@media only screen and (max-width: 550px) {

  .header-container {
    justify-content: center;
  }

  h3 {
    margin: 0 auto 10px auto;
  }

  #heart {
    display: none;
  }

  .button-container {
    margin: 0;
  }
  
  .popular-item {
    width: 300px;
  }

}

@media only screen and (max-width: 500px) {
  ol li {
    margin: 0;
  }

  .clip-container {
    width: 80%;
  }

  .popular-item {
    width: 200px;
  }

  .popular-item > .listen-freq {
    display: none;
  }

}