:root {
  --interact-gray: #1d1d1d;
  --dark-gray: #181818;
  --med-gray-2: #363636;
  --med-gray: #5c5c5c;
  --light-gray: #cacaca;
  --sp-green: #1db954;
  --artwork: #000000;
  --card-bg: rgba(20,20,20,1);
  --transition-time: 1s;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb {
  background: var(--interact-gray);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--med-gray-2);
}

body {
  background-color: black;
  color: white;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  font-size: 32pt;
  font-weight: 700;
  margin: 0;
}

h2 {
  font-size: 18pt;
  font-weight: 400;
  margin: 0;
}

h3 {
  font-size: 25pt;
  font-weight: 600;
  margin: 0 auto 0 0;
}

small {
  font-size: 18pt;
  font-weight: 300;
  color: var(--light-gray);
}

mark {
  background-color: rgba(0,0,0,0);
  color: var(--sp-green);
  font-weight: 700;
}

/* Transitions */

@keyframes slide-from-right {
  from {
    opacity: 0;
    transform: translateX(50%);
  } 
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-from-left {
  from {
    opacity: 0;
    transform: translateX(-50%);
  } 
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-from-top {
  from {
    opacity: 0;
    transform: translateY(-50%);
  } 
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-from-bottom {
  from {
    opacity: 0;
    transform: translateY(50%);
  } 
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  } 
  to {
    opacity: 1;
  }
}

.overview-caption {
  text-align: center;
  font-size: 22pt;
  font-weight: 600;
  margin-bottom: 40px;
}

#layout-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100vw;
}

.card {
  background-color: black;
  margin: 0 15px;
}

#overview {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 30px 52px;
  width: 600px;
  height: auto;
  box-sizing: border-box;
  background: linear-gradient(0deg, rgb(0,0,0) 0%, rgb(24,24,24) 70%);
  background: -moz-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(24,24,24) 70%);
  background: -webkit-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(24,24,24) 70%);
  animation: slide-from-top var(--transition-time) ease;
}

#overview > h1 {
  text-align: center;
  margin: 10px 0 30px 0;
}

#overview > small {
  text-align: right;
  align-self: flex-end;
  margin-bottom: 5px;
}

#user-icon {
  background-color: black;
  width: 225px;
  height: 225px;
  clip-path: circle(50%);
  margin-bottom: 30px;
}

#no-icon {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  fill: var(--light-gray);
}

#popularity {
  width: 1000px;
  height: 100%;
  padding: 35px 32px;
  animation: slide-from-bottom var(--transition-time) ease;
}

ol {
  list-style: none;
  counter-reset: popularity-counter;
  margin: 5px 0;
}

ol li {
  margin-left: 10px;
  padding-left: 10px;
  background-color: black;
  border-radius: 5px;
  transition: background-color ease-out .1s;
  cursor: pointer;
}

ol li:first-of-type {
  margin-top: 15px;
}

.bullet {
  display: inline;
  font-size: 14px;
}

.list-count {
  display: inline-block;
  position: relative;
  top: -25px;
  width: 20px;
  text-align: right;
  color: white;
  font-weight: 300;
  font-size: 17px;
}

ol li:hover {
  background-color: var(--dark-gray);
}

.popular-item {
  display: inline-flex;
  flex-flow: row nowrap;
  width: 90%;
  margin: 8px 15px 8px;
}

.popular-icon {
  display: block;
  width: 64px;
  height: 64px;
  min-width: 64px;
  overflow-y: hidden;
  border-radius: 0px;
  background-color: var(--artwork);
}

.popular-icon > img {
  display: block;
  position: relative;
  width: 64px;
  top: 50%;
  transform: translateY(-50%);
}

.popular-description {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  box-sizing: border-box;
  height: 64px;
  margin-left: 10px;
  padding: 2px 4px;
}

.popular-description > span {
  margin: 0;
}

.song-title {
  font-size: 25px;
  font-weight: 500;
  color: white;
}

.song-artist {
  font-size: 20px;
  font-weight: 300;
  color: var(--light-gray);
}

.artist {
  display: none;
  font-size: 25px;
  font-weight: 500;
  color: white;
}

.artist-img {
  display: none;
}

.track-card {
  display: none;
  flex-flow: column nowrap;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  width: 70vw;
  max-width: 500px;
  height: 90vh;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(150, 150, 150, 0.2);
  background: rgba(20, 20, 20, 0.7);
  background: -moz-linear-gradient(0deg, var(--card-bg) 0%, rgba(20, 20, 20, 1) 100%);
  background: -webkit-linear-gradient(0deg, var(--card-bg) 0%, rgba(20, 20, 20, 1) 100%);
  background: linear-gradient(0deg, var(--card-bg) 0%, rgba(20, 20, 20, 1) 100%);
  z-index: 4; 
  overflow-y: scroll;
}

.track-card > div {
  position: relative;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  z-index: 5;
}

.track-card img {
  position: relative;
  display: block;
  width: 100%;
  max-width: 500px;
  margin: 50px 0 25px;
}

.track-overview {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}

.track-header {
  width: 50%;
  padding-right: 10px;
  text-align: right;
  border-right: 1px solid white;
}

.card-list-count {
  position: absolute;
  align-self: flex-end;
  margin-right: 3%;
  font-size: 19pt;
  font-weight: 500;
}

.hash {
  font-size: 16pt;
  margin-right: 3px;
  font-weight: 300;
}

.listen-freq {
  display: inline-block;
  align-self: center;
  font-size: 15pt;
  font-weight: 300;
  margin: 0 5px 0 auto;
  white-space: nowrap;
}

.listen-time { 
  font-size: 15px;
  color: var(--light-gray);
}

.artist-count {
  display: none;
}

.track-overview > .listen-freq {
  width: 50%;
  margin-left: 7px;
}

#heart {
  width: 30px;
  fill: var(--sp-green);
  margin: 0 20px;
  animation: heartbeat 2s ease-in-out infinite;
}

@keyframes heartbeat {
  0% {
    transform: scale(.9);
  } 
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(.9);
  }
}

.header-container {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  align-items: center;
}

.button-container {
  display: flex;
  flex-flow: row nowrap;
  gap: 15px;
  margin-right: 50px;
}

.select-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 17px;
  background-color: var(--dark-gray);
  transform: scale(.9);
  transition: background-color ease-out .2s, transform cubic-bezier(.17,.67,.82,1.9) .09s;
  cursor: pointer;
}

.select-button > svg {
  width: 30px;
  fill: var(--med-gray);
  transition: fill ease-out .2s;
}

.select-button:hover > svg {
  fill: var(--sp-green);
}

.active-button {
  transform: scale(1);
  background-color: var(--med-gray-2);
}

.active-button > svg {
  fill: var(--sp-green);
}

#song-select > svg {
  transform: translateX(-2px);
}

#chart-container {
  margin-top: 20px;
  padding: 15px;
  width: 95%;
  background-color: black;
  border-radius: 15px;
  box-sizing: border-box;
}

#overviewChart {
  width: 420px;
  height: 200px;
}

.time-selector {
  align-self: flex-end;
  color: var(--med-gray);
  margin: 10px 50px 0 0;
  font-size: 15px;
  font-weight: 300;
}

.time-selector span {
  cursor: pointer;
  transition: color ease-out .15s;
}

.time-selector span:first-child {
  padding-right: 5px;
  border-right: 1px solid var(--med-gray-2);
}

.time-selector span:last-child {
  padding-left: 5px;
  border-left: 1px solid var(--med-gray-2);
}

.time-selector span:hover {
  color: white;
}

.track-card .time-selector {
  align-self: center;
  margin: 5px;
  padding: 2px 30px;
  border-radius: 5px;
  color: var(--light-gray);
  background-color: rgba(0,0, 0, .2);
}

.track-card .time-selector span:first-child {
  border-right: 1px solid var(--light-gray);
}

.track-card .time-selector span:last-child {
  border-left: 1px solid var(--light-gray);
}

.active-time {
  color: var(--sp-green);
  font-size: 17px;
  font-weight: 700;
}

.active-time:hover {
  color: var(--sp-green) !important;
}

.noselect {
  -webkit-touch-callout: none; 
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
}

.track-chart-container {
  width: 90%;
  padding: 0px 15px;
  box-sizing: border-box;
  background-color: rgba(0,0,0,0);
  border-radius: 5px;
}

@media only screen and (max-width: 1730px) {
  #layout-container {
    flex-flow: column nowrap;
    align-items: center;
  }

  #overview {
    width: 100vw;
    box-sizing: border-box;
  }

  small {
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 1000px) {
  #layout-container {
    flex-flow: row wrap;
  }

  .clip-container {
    width: 100%;
    overflow-x: hidden;
    height: 30px;
    text-overflow: ellipsis;
  }

  .card {
    margin: 0;
    border-radius: 0px;
  }

  #overview {
    padding: 30px 10px;
    background: linear-gradient(0deg, rgb(0,0,0) 30%, rgb(24,24,24) 80%);
    background: -moz-linear-gradient( 90deg, rgb(0,0,0) 30%, rgb(24,24,24) 80%);
    background: -webkit-linear-gradient( 90deg, rgb(0,0,0) 30%, rgb(24,24,24) 80%);
  }

  #overviewChart {
    width: 100%;
    height: auto;
  }

  h1 {
    font-size: 27pt;
  }

  h2 {
    font-size: 13pt;
  }

  h3 {
    font-size: 20pt;
    margin-bottom: 10px;
  }

  #heart {
    width: 30px;
    margin-bottom: 10px;
  }

  .select-button:first-of-type {
    margin-left: auto;
  }

  .overview-caption {
    font-size: 17pt;
    margin-bottom: 30px;
  }

  #popularity {
    padding: 0 20px;
    margin: 20px 0;
    box-sizing: border-box;
  }

  .popular-description {
    width: 100%;
  }

  ol {
    padding: 0px 15px;
    margin: 2px 0;
  }

  ol li::before {
    box-sizing: border-box;
    width: 30px;
    font-size: 18px;
  }

  .song-title {
    font-size: 19px;
  }

  .song-artist {
    font-size: 15px;
    color: var(--light-gray);
  }

  .artist {
    font-size: 19px;
  }

  .listen-freq {
    font-size: 12pt;
    padding-left: 5px;
  }

}

@media only screen and (max-width: 740px) {
  .popular-item {
    width: 80%;
  }

  .clip-container {
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .overview-caption {
    margin: 0 10px 40px;
  }
}

@media only screen and (max-width: 550px) {

  .header-container {
    justify-content: center;
  }

  h3 {
    margin: 0 auto 10px auto;
  }

  #heart {
    display: none;
  }

  .button-container {
    margin: 0;
  }
  
  .popular-item {
    width: 300px;
  }

}

@media only screen and (max-width: 500px) {
  ol li {
    margin: 0;
  }

  .clip-container {
    width: 80%;
  }

  .popular-item {
    width: 200px;
  }

  .popular-item > .listen-freq {
    display: none;
  }

  .artist-count {
    display: none;
  }

}