<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="application-name" content="Data Unpacker for Spotify">
    <meta name="description" content="See What You're Listening To">
    <meta name="keywords" content="Spotify">
    <link rel="icon" type="image/ico" href="../static/images/favicon_2.ico">

    <meta property="og:title" content="Data Unpacker for Spotify">
    <meta property="og:description" content="See What You're Listening To">
    <!-- <meta property="og:image" content=""> -->
    <!-- <meta property="og:url" content=""> -->
    <!-- <meta name="twitter:card" content=""> -->

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <link rel="stylesheet" href="../static/css/landing-style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/js/script.js"></script>
  </head>
    <title>Data Unpacker for Spotify</title>
  </head>
  <body>
    <div id="info-page">
      <h2 id="info-header">ABOUT</h2>
      <svg id="close-button" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 701.02 701.02" style="enable-background:new 0 0 701.02 701.02;"
        xml:space="preserve">
        <path d="M683.13,104.67L104.67,683.13c-23.86,23.86-62.91,23.86-86.77,0l0,0c-23.86-23.86-23.86-62.91,0-86.77
          L596.35,17.9c23.86-23.86,62.91-23.86,86.77,0l0,0C706.99,41.76,706.99,80.81,683.13,104.67z"/>
        <path d="M104.67,17.9l578.45,578.45c23.86,23.86,23.86,62.91,0,86.77l0,0c-23.86,23.86-62.91,23.86-86.77,0L17.9,104.67
          c-23.86-23.86-23.86-62.91,0-86.77l0,0C41.76-5.97,80.81-5.97,104.67,17.9z"/>
      </svg>
      <div class="info-text">
        <p>
          Data Unpacker for Spotify is a web application that
          visualizes the user data package provided to 
          Spotify listeners. It was created on July 12th, 2021 
          with the intent of developing an easy and intuitive way
          to view trends in our listening tendencies and specific 
          information about those trends. 
        </p>
        <p>
          This application was built with built with HTML, CSS, 
          JQuery, Jinja & <a class="ref-link" href="">Flask</a>. It also implements <a class="ref-link" href="">Chart.js</a> for graphs.
        </p>
        <p>
          Within this application you can upload your data package 
          to view your top 10 most listened to songs & artists, how
          many times you've listened to them & 
          when you tend to listen to them over a given interval.
          You can also observe those statistics for music in general.
        </p><br>
        <p class="note">
          <i>
            <b>NOTE:</b> 
            While this is more in-depth 
            than many other applications that utilize Spotify's 
            recently played music, the data package 
            still only dates back a year, so it may not be 
            fully representative of your entire Spotify listening history.
          </i>
        </p>

        <span class="sub-header">Credits</span>
        <p>
          This project wouldn't be possible without:
          <div class="author-container">
            <img class="author-image" src="https://avatars.githubusercontent.com/u/71859934?v=4">
            <a class="author-description" href="https://github.com/sookiemonster">
              Sookiemonster
            </a>
            
            <img class="author-image" src="https://avatars.githubusercontent.com/u/54008448?v=4">
            <a class="author-description" href="https://github.com/notsorandomalias">
              ShuShu
            </a>

            <img class="author-image" src="https://avatars.githubusercontent.com/u/16601189?v=4">
            <a class="author-description" href="https://github.com/SayaDuck">
              SayaDuck
            </a>
          </div>
        </p>

          <!-- (add links to github profiles, flask, and chart.js) -->


        </p>
      </div>
    </div>
    <div class="layout-container">

      <div class="header-container">
        <h1><span id="first-line">Data</span><br>
        Unpacker<br></h1>
        <small>for</small>
        <h1><mark id="spotify">Spotify</mark></h1><br>
        <div class="disclaimer-container">
          <span class="disclaimer">* This application is not affiliated with</span>
          <img id="sp-logo" src="../static/images/Spotify_Logo_Green.png">
        </div>
        <div id="under-header-icons" class="icon-layout">
          <a class="icon-container" href="https://github.com/sookiemonster/Data-Unpacker-for-Spotify">
            <svg class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32.58 31.77" style="enable-background:new 0 0 32.58 31.77;" xml:space="preserve">
            <style type="text/css">
              .st0{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}
            </style>
            <path class="st0" d="M16.29,0C7.29,0,0,7.29,0,16.29c0,7.2,4.67,13.3,11.14,15.46c0.81,0.15,1.11-0.35,1.11-0.79
              c0-0.39-0.01-1.41-0.02-2.77c-4.53,0.98-5.49-2.18-5.49-2.18C6,24.13,4.93,23.62,4.93,23.62c-1.48-1.01,0.11-0.99,0.11-0.99
              c1.63,0.12,2.5,1.68,2.5,1.68c1.45,2.49,3.81,1.77,4.74,1.35c0.15-1.05,0.57-1.77,1.03-2.18C9.7,23.08,5.9,21.68,5.9,15.44
              c0-1.78,0.63-3.23,1.68-4.37C7.41,10.65,6.85,9,7.73,6.76c0,0,1.37-0.44,4.48,1.67c1.3-0.36,2.69-0.54,4.08-0.55
              c1.38,0.01,2.78,0.19,4.08,0.55c3.11-2.11,4.48-1.67,4.48-1.67c0.89,2.24,0.33,3.9,0.16,4.31c1.04,1.14,1.67,2.59,1.67,4.37
              c0,6.26-3.81,7.63-7.44,8.04c0.58,0.5,1.11,1.5,1.11,3.02c0,2.18-0.02,3.93-0.02,4.47c0,0.44,0.29,0.94,1.12,0.78
              c6.47-2.16,11.13-8.26,11.13-15.45C32.58,7.29,25.29,0,16.29,0z"/>
            </svg>
          </a>
          <a class="icon-container" href="https://www.spotify.com/us/">
            <img class="icon" src="../static/images/Spotify_Icon_White.png">
          </a>
          <div class="icon-container info">
            <svg class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" style="enable-background:new 0 0 1000 1000;" xml:space="preserve">
            <style type="text/css">
            .info{fill:#FFFFFF;}
            </style>
            <g>
              <path class="info" d="M500,0C223.86,0,0,223.86,0,500s223.86,500,500,500s500-223.86,500-500S776.14,0,500,0z M548.35,772.98
              c0,6.6-7.55,12-16.77,12h-63.17c-9.22,0-16.77-5.4-16.77-12V377.4c0-6.6,7.55-12,16.77-12h63.17c9.22,0,16.77,5.4,16.77,12V772.98z
                M500,302.3c-26.71,0-48.35-21.65-48.35-48.35c0-26.71,21.65-48.35,48.35-48.35s48.35,21.65,48.35,48.35
              C548.35,280.65,526.71,302.3,500,302.3z"/>
            </g>
            </svg>
          </div>
        </div>
      </div>
      <div id="file-page">
        <form id="data-form" action="{{ url_for('homepage') }}" method='POST' enctype="multipart/form-data">
          {{ form.csrf_token }}
          <label for="choose-file" class="choose-button">
            <span id="choose-text">Choose file:</span> <span id="file-selected">No file chosen</span>
          </label>
          <!-- <input id="choose-file" type="file" accept=".zip" name='datapackage'> -->
          {{ form.file(id="choose-file", accept=".zip") }}

          <label for="upload-file" class="upload-button">
            <span>Upload Data</span>
          </label>
          <!-- <input id="upload-file" type="submit"> -->
          {{ form.submit(id="upload-file") }}
        </form>

      <a class="faq" href="https://support.spotify.com/us/article/data-rights-and-privacy-settings/">How do I get my data?</a>
      <div id="centered-icons" class="icon-layout">
        <a class="icon-container" href="https://github.com/sookiemonster/Data-Unpacker-for-Spotify">
          <svg class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32.58 31.77" style="enable-background:new 0 0 32.58 31.77;" xml:space="preserve">
          <style type="text/css">
            .st0{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}
          </style>
          <path class="st0" d="M16.29,0C7.29,0,0,7.29,0,16.29c0,7.2,4.67,13.3,11.14,15.46c0.81,0.15,1.11-0.35,1.11-0.79
            c0-0.39-0.01-1.41-0.02-2.77c-4.53,0.98-5.49-2.18-5.49-2.18C6,24.13,4.93,23.62,4.93,23.62c-1.48-1.01,0.11-0.99,0.11-0.99
            c1.63,0.12,2.5,1.68,2.5,1.68c1.45,2.49,3.81,1.77,4.74,1.35c0.15-1.05,0.57-1.77,1.03-2.18C9.7,23.08,5.9,21.68,5.9,15.44
            c0-1.78,0.63-3.23,1.68-4.37C7.41,10.65,6.85,9,7.73,6.76c0,0,1.37-0.44,4.48,1.67c1.3-0.36,2.69-0.54,4.08-0.55
            c1.38,0.01,2.78,0.19,4.08,0.55c3.11-2.11,4.48-1.67,4.48-1.67c0.89,2.24,0.33,3.9,0.16,4.31c1.04,1.14,1.67,2.59,1.67,4.37
            c0,6.26-3.81,7.63-7.44,8.04c0.58,0.5,1.11,1.5,1.11,3.02c0,2.18-0.02,3.93-0.02,4.47c0,0.44,0.29,0.94,1.12,0.78
            c6.47-2.16,11.13-8.26,11.13-15.45C32.58,7.29,25.29,0,16.29,0z"/>
          </svg>
        </a>
        <a class="icon-container" href="https://www.spotify.com/us/">
          <img class="icon" src="../static/images/Spotify_Icon_White.png">
        </a>
        <div class="icon-container info">
          <svg class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" style="enable-background:new 0 0 1000 1000;" xml:space="preserve">
            <style type="text/css">
            .info{fill:#FFFFFF;}
            </style>
            <g>
              <path class="info" d="M500,0C223.86,0,0,223.86,0,500s223.86,500,500,500s500-223.86,500-500S776.14,0,500,0z M548.35,772.98
              c0,6.6-7.55,12-16.77,12h-63.17c-9.22,0-16.77-5.4-16.77-12V377.4c0-6.6,7.55-12,16.77-12h63.17c9.22,0,16.77,5.4,16.77,12V772.98z
                M500,302.3c-26.71,0-48.35-21.65-48.35-48.35c0-26.71,21.65-48.35,48.35-48.35s48.35,21.65,48.35,48.35
              C548.35,280.65,526.71,302.3,500,302.3z"/>
            </g>
            </svg>
        </div>
      </div>
    </div>
    </div>

    <div id="wave-container">
      <svg id="wave" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1208 1080" xml:space="preserve">
        <path d="M0,0c-0.05,134.75,47.5,134.83,47.5,269.75C47.5,404.75,0,405,0,540h0c-0.05,134.75,47.5,134.83,47.5,269.75
        C47.5,944.75,0,945,0,1080h1208V540V0H0z"/>
      </svg>
    </div>
  </body>
</html>
