<!DOCTYPE html>
<html>
  <head>
    <title>Data Visualizer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="layout-container">
      <div class="card" id="overview">
        <h1>Hi user</h1>
        <div id="user-icon"></div>
        <small>In the past year...</small>
        <span class="overview-caption">You listened to <mark>N</mark> unique songs & <mark>N</mark> unique artists</span>
        <h2>Your listening tendencies</h2>
      </div>
      <div class="card" id="popularity">
        <h3>Your Favorite Songs</h3>
        <ol>
          <li>
            <div class="popular-item">
              <div class="popular-icon"></div>
              <div class="popular-description">
                <span class="song-title">SONG</span>
                <span class="song-artist">ARTIST</span>
              </div>
            </div>
          </li>
          <li>
            <div class="popular-item">
              <div class="popular-icon"></div>
              <div class="popular-description">
                <span class="song-title">SONG</span>
                <span class="song-artist">ARTIST</span>
              </div>
            </div>
          </li>
          <li>
            <div class="popular-item">
              <div class="popular-icon"></div>
              <div class="popular-description">
                <span class="song-title">SONG</span>
                <span class="song-artist">ARTIST</span>
              </div>
            </div>
          </li>
          <li>
            <div class="popular-item">
              <div class="popular-icon"></div>
              <div class="popular-description">
                <span class="song-title">SONG</span>
                <span class="song-artist">ARTIST</span>
              </div>
            </div>
          </li>
          <li>
            <div class="popular-item">
              <div class="popular-icon"></div>
              <div class="popular-description">
                <span class="song-title">SONG</span>
                <span class="song-artist">ARTIST</span>
              </div>
            </div>
          </li>
        </ol>
      </div>
    </div>
  </body>
</html>
