<!DOCTYPE html>
<html>
  <head>
    <title>Data Visualizer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="application-name" content="Data Visualizer for Spotify">
    <meta name="description" content="See What You're Listening To">
    <meta name="keywords" content="Spotify">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="layout-container">
      <div class="card" id="overview">
        <h1>Hi {{ displayname }}</h1>
        <div id="user-icon">
          <img src="{{ icon_url }}">
        </div>
        <small>In the past year...</small>
        <span class="overview-caption">You listened to <mark>{{ tracknum }}</mark> unique songs & <mark>{{ artistnum }}</mark> unique artists</span>
        <h2>Your listening tendencies</h2>
      </div>
      <div class="card" id="popularity">
        <h3>Your Favorite Songs</h3>
        <ol>
          {% for name in trackkeys %}
            {% set namesplit = name.split('by') %}
              {% for i in namesplit %}
                {% if namesplit|length > 2 %}
                  namesplit[0] += namesplit[1]
                  namesplit.pop(1)
                {% endif %}
              {% endfor %}

            <li>
              <div class="popular-item">
                <div class="popular-icon">
                  <img src="https://i.scdn.co/image/ab67616d0000b273730cc8eb459c92944233e891" height="64", width="64">
                </div>
                <div class="popular-description">
                  <span class="song-title">{{ namesplit[0] }}</span>
                  <span class="song-artist">{{ namesplit[1] }}</span>
                </div>
              </div>
            </li>
          {%endfor%}

        </ol>
      </div>
    </div>
  </body>
</html>
